
<div class="container table-responsive py-5 mb"> 
<table class="table table-bordered table-hover mt-5">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Serial No</th>
      <th scope="col">Event Name</th>
      <th scope="col">Language</th>
      <th scope="col">Date</th>
      <th scope="col">Venue</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>{{event1Name}}</td>
      <td>{{event1Language}}</td>
      <td>{{event1Date}}</td>
      <td>{{event1Venue}}</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>{{event2Name}}</td>
      <td>{{event2Language}}</td>
      <td>{{event2Date}}</td>
      <td>{{event2Venue}}</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>{{event3Name}}</td>
      <td>{{event3Language}}</td>
      <td>{{event3Date}}</td>
      <td>{{event3Venue}}</td>
    </tr>
     <tr>
      <th scope="row">4</th>
      <td>{{event4Name}}</td>
      <td>{{event4Language}}</td>
      <td>{{event4Date}}</td>
      <td>{{event4Venue}}</td>
    </tr>
  </tbody>
</table>
</div>