    <div class="container-fluid full-width">
        <div class="row row-no-gutter">
            <div class="col-xs-6 col-sm-3">
                <img class="rounded-circle" src="./Images/te1.webp">
                <h4>Esther Ekhart</h4>
                <p>{{teacher1Subject}}</p>
            </div>
            <!-- close .col -->
            <div class="col-xs-6 col-sm-3">
                <img class="rounded-circle" src="./Images/te2.webp">
                <h4>Adela Serrano</h4>
                <p>{{teacher2Subject}}</p>

            </div>
            <!-- close .col -->
            <div class="col-xs-6 col-sm-3">
                <img class="rounded-circle" src="./Images/te3.webp">
                <h4>Afke Reijenga</h4>
                <p>{{teacher3Subject}}</p>
            </div>
            <!-- close .col -->
            <div class="col-xs-6 col-sm-3">
                <img class="rounded-circle" src="./Images/te4.webp">
                <h4>Anat Geiger</h4>
                <p>{{teacher4Subject}}</p>
            </div>
            <!-- close .col -->
        </div>
        <hr>
        <div class="row row-no-gutter">
            <div class="col-xs-6 col-sm-3">
                <img class="rounded-circle" src="./Images/te5.webp">
                <h4>Andrew Wrenn</h4>
                <p>{{teacher5Subject}}</p>
            </div>
            <!-- close .col -->
            <div class="col-xs-6 col-sm-3">
                <img class="rounded-circle" src="./Images/te6.webp">
                <h4>Anna Sugarman</h4>
                <p>{{teacher6Subject}}</p>
            </div>
            <!-- close .col -->
            <div class="col-xs-6 col-sm-3">
                <img class="rounded-circle" src="./Images/te7.webp">
                <h4>David Kam</h4>
                <p>{{teacher7Subject}}</p>
            </div>
            <!-- close .col -->
            <div class="col-xs-6 col-sm-3">
                <img class="rounded-circle" src="./Images/te8.webp">
                <h4>David Lurey</h4>
                <p>{{teacher8Subject}}</p>
            </div>
            <!-- close .col -->
        </div>
        </div>
    </div>
    <hr>
    <!-- close .container-fluid full-width -->